.sign__link {
  all: unset;
  width: 100%;
  padding: 14px 0;
  text-align: center;
  margin-top: 185px;
  background: #FFFFFF;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #000;
}