.header__togle-sidebar {
  display: none;
  width: 26px;
  height: 22px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.header__togle-sidebar_active {
  display: none;
}

.header__togle-sidebar_disactive {
  display: none;
}

.header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__icon-line-middle {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.header__icon-line-top {
  display: block;
  position: absolute;
  left: 0;
  top: -11px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.header__icon-line-bottom {
  display: block;
  position: absolute;
  left: 0;
  top: 11px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.header__icon-line-middle_active {
  background-color: transparent;
}

.header__icon-line-top_active {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header__icon-line-bottom_active {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


@media screen and (max-width: 420px) {
  .header__togle-sidebar_active {
    display: block;
    padding: 0;
  }

  .header__sidebar {
    padding-top: 150px;
    padding-bottom: 40px;
  }


}