.popup__close {
  all: unset;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: url('../../../images/close-popup.svg') center/cover no-repeat;
  transition: opacity .6s ease;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 546px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}