.profile__edit-button {
  all: unset;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background: url('../../../images/edit-btn-pencil.svg') center/10px 10px no-repeat;
  cursor: pointer;
  transition: opacity .6s ease;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}