.header__menu {
  margin-left: auto;
  padding-top: 6px;
  display: flex;
  gap: 24px;
  align-items: baseline;
  font-size: 18px;
}

@media screen and (max-width: 880px) {
  .header__menu {
    padding-right: 30px;
  }
}

@media screen and (max-width: 425px) {
  .header__menu {
    font-size: 14px;
  }
}