.page__profile {
  margin-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .page__profile {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 425px) {
  .page__profile {
    margin-bottom: 36px;
  }
}